<html xmlns="http://www.w3.org/1999/xhtml" lang="vi" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">

<head>
<meta property="og:description" content="{{desc}}" />
<meta property="og:title" content="{{title}}" />
<meta property="og:url" content="{{siteUrl}}" />
<meta property="og:image" content="{{image}}" />
</head>

<body>

<script>setTimeout(function(){ window.location = "{{redirectUrl}}"; }, 100);</script>

</body>
</html>