<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, minimum-scale=0.3, maximum-scale=5, initial-scale=1.0, user-scalable=yes" />
    <meta name="description" content="{{desc}}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{desc}}" />
    <meta property="og:image" content="{{{image}}}" />
    <meta name="author" content="KOMPAS.COM" />
    <meta property="og:url" content="http://KOMPAS.COM" />
    <meta property="og:site_name" content="KOMPAS.COM" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

{{{body}}}

</html>